<nav>
    <div class="nav-wrapper light-blue accent-3">
        <a href="/" class="brand-logo">
            <div>
                <img src="https://img.icons8.com/dusk/44/000000/training.png">
            </div>
            Courses App
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome }}
            <li class="active">
                <a href="/"><i class="material-icons mr-1">dashboard</i>Главная</a>
            </li>
            {{else}}
            <li>
                <a href="/"><i class="material-icons mr-1">dashboard</i>Главная</a>
            </li>
            {{/if}}
            {{#if isCourses }}
                <li class="active"><a href="/courses">
                    <i class="material-icons mr-1">school</i>
                    Курсы
                </a></li>
            {{else}}
                <li><a href="/courses">
                    <i class="material-icons mr-1">school</i>
                    Курсы
                </a></li>
            {{/if}}
            {{#if isAdd }}
                <li class="active"><a href="/add">
                    <i class="material-icons mr-1">add</i> Добавить курс
                </a></li>
            {{else}}
                <li><a href="/add">
                    <i class="material-icons mr-1">add</i> Добавить курс
                </a></li>
            {{/if}}
        </ul>
    </div>
</nav>
